.dashboard-widget {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  line-height: 40px;
  background-color: #FFFFFF;
  text-align: center;
  margin: 10px;
}

.dashboard-widget-temperature {
  height: 250px;
}

.dashboard-widget-video {
  height: 324px;
}

.dashboard-widget-video .message {
  height: 104px;
}

.dashboard-widget-label {
  font-weight: 300;
  font-size: 20px;
  margin: 0 0 25px 0;
}

.big-number {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 20px;
}


.last-reading {
  font-size: 12px;
}


.dashboard-widget .button{
  padding: 14px;
  color: #FFFFFF;
  background-color: #CD1231;
  border: 0;
  border-radius: 2px;
  margin: 10px;
  font-weight: bold;
}


.message {
  background-color: green;
  color: #FFFFFF;
  line-height: 24px;
  height: 210px;
  font-weight: bold;
  padding: 20px;
}

.message .link {
  color: #333;
  margin-top: 50px;
  font-weight: bold;
  text-decoration: none;
  background-color: #fff;
  padding: 5px;
  border-radius: 2px;
}


.dashboard-widget-video .message .link {
  margin-top: 20px;
}

.sendText {
  padding: 0 10px;
}

/*Hide footer because it has a CSS bug*/
#atomize-footer {
  display: none;
}

.list li {
  background-color: transparent;
  color: #535353;
  letter-spacing: 2px;
  text-align: left;
  line-height: 20px;
  margin: 5px 0px 5px 30px;
}


.div-block-info-details {
  padding: 0px 20px 0px 30px;
  border-top: 1px solid silver;
  background-color: #fff;
}

.div-block-solutions {
  height: auto;
  background-image: linear-gradient(180deg, rgba(0, 19, 48, .54), rgba(0, 19, 48, .54)), url("images/mountains.png");
}

.div-block-solutions.iot-form {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 58px;
  padding-bottom: 72px;
  text-align: center;
}

.pod-solutions-text {
  height: 132px;
}

.list {
  padding: 20px;
  color: #757575;
}

.list ol {
  margin-left: 20px;
}

.spin-developers-button {
  margin-bottom: 22px;
  text-align: center;
}

.success-message-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 3px;
  background-color: #ffd605;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.pod-solutions-text {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px;
}

.pod-solutions-text a {
  color: #FFFFFF;
}

.div-block-solutions.iot-form.info-details {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px 32px 20px;
  text-align: center;
}

.div-block-solutions.iot-form {
  height: 527px;
  margin-top: 0px;
  padding-top: 160px;
  background-color: rgba(0, 0, 0, .59);
}

.info-details-text {
  text-align: left;
  line-height: 20px;
}
